<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="OrangeHRM.NewTest"/>
       <class name="OrangeHRM.LoginHrm"/>
        <class name="OrangeHRM.ForgotPassword"/>
         <class name="OrangeHRM.PasswordChange"/>
          <class name="OrangeHRM.PIM"/>
           <class name="OrangeHRM.SearchOption"/>
            <class name="OrangeHRM.LaunchBrowser"/>
            <class name="OrangeHRM.ProfileFunctionality"/>
            <class name="OrangeHRM.Qualification"/>
            <class name="OrangeHRM.Verifyingloginpage"/>
          
            <class name="OrangeHRM.LogoutFunctionality"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
